body {
	margin: 0 auto;
	background-color: #000;
	font-size: 22px;
	font-family: Helvetica;
	color: seashell;
	opacity: 0.9;
}

a {
	color: seashell;
	font-size: 22px;
	font-family: Helvetica;
}

#logo {
	height: 50px;
	padding-left: 10px;
	position: absolute;
	left: 0;
}

header {
	width: 100%;
	height: 69px;
	border-bottom: 1px solid seashell;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: fixed;
	background-color: #000;
	z-index: 1;
}

nav {
	display: flex;
	flex-wrap: wrap;
}

nav span {
	padding: 0 10px;
}

main {
	padding-top: 70px;
}

h2, h3, h4 {
	color: seashell;
	opacity: 0.9;
	text-align: center;
	background-color: #000;
	margin: 0;
}

#mission {
	height: 700px;
	width: 1200px;
	background-color: gray;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background-image: url("../images/img-mission-background.jpg");
	margin: 0 auto;
}

.content {
	width: 100%
}

#month {
	margin: 50px auto 0;
	width: 1000px;
}
#month img {
	width: 300px;
	height: 200px;
}

#month h2 {
	padding-bottom: 15px;
}
#monthImages {
	display: flex;
	flex-wrap: wrap;
}
figure {
	margin: 0 5px;
	padding: 0 10px;
}

figcaption {
	margin: 10px 0 10px 0;
	text-align: center;
}
